<div class="addresses-page">
  <ng-container *ngIf="loading">
    <div class="addresses-loading">
      <i class="pi pi-spin pi-spinner"></i>

      <span>
        {{ "account.addresses.loading" | translate }}
      </span>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading">
    <div class="address-header">
      <div>
        <h2>
          {{ "account.addresses.title" | translate }}
        </h2>

        <p>
          {{ "account.addresses.description" | translate }}
        </p>
      </div>

      <p-button
        [label]="'account.addresses.add' | translate"
        icon="pi pi-plus"
        (click)="openCreate()"
      />
    </div>

    <p-toast></p-toast>

    <p-confirmdialog></p-confirmdialog>

    <p-dialog
      [(visible)]="displayForm"
      [header]="'account.addresses.dialog.title' | translate"
      [modal]="true"
      (onHide)="onCancel()"
    >
      <app-address-form
        [address]="selectedAddress"
        [backendErrors]="backendErrors"
        (save)="saveAddress($event)"
        (cancel)="onCancel()"
        (fieldChange)="clearBackendError($event)"
      />
    </p-dialog>

    <ng-container *ngIf="addresses.length > 0; else emptyAddresses">
      <div class="addresses-grid">
        <app-address-card
          *ngFor="let address of addresses"
          [address]="address"
          (delete)="deleteAddress($event)"
          (edit)="openEdit($event)"
        />
      </div>
    </ng-container>

    <ng-template #emptyAddresses>
      <div class="empty-addresses">
        <i class="pi pi-map-marker"></i>

        <h3>
          {{ "account.addresses.empty.title" | translate }}
        </h3>

        <p>
          {{ "account.addresses.empty.message" | translate }}
        </p>

        <p-button
          [label]="'account.addresses.add' | translate"
          icon="pi pi-plus"
          [outlined]="true"
          (click)="openCreate()"
        />
      </div>
    </ng-template>
  </ng-container>
</div>
