.register-container {
  font-family: var(--p-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo {
  margin-top: 1rem;
  width: 75px;
  height: auto;
  object-fit: contain;
}

.register-title {
  color: var(--p-primary-500);
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
}

.form-container {
    margin-top: 1rem;
}

.login-link {
  display: block;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
}
