<div class="feed-list-item">

    <div class="feed-list-image">
        <p-skeleton width="100%" height="100%" />
    </div>

    <div class="feed-list-content">

        <p-skeleton width="120px" height=".85rem" />

        <p-skeleton width="60%" height="1.2rem" />

        <p-skeleton width="100px" height=".9rem" />

        <div class="feed-list-details">

            <p-skeleton width="100px" height="1.2rem" />

            <p-skeleton width="70px" height="2rem" />

        </div>

    </div>

</div>