<form (ngSubmit)="save()">
  <div class="field-group">
    <p-floatlabel>
      <input
        name="name"
        id="name"
        type="text"
        pInputText
        [(ngModel)]="form.name"
        (ngModelChange)="onFieldChange('name')"
      />
      <label for="name">
        {{ "auth.register.form.name" | translate }}
      </label>
    </p-floatlabel>

    <app-field-error [message]="getFieldError('name')" />
  </div>

  <div class="field-group">
    <p-floatlabel>
      <input
        name="username"
        id="username"
        type="text"
        pInputText
        [(ngModel)]="form.username"
        (ngModelChange)="onFieldChange('username')"
      />
      <label for="username">
        {{ "auth.register.form.username" | translate }}
      </label>
    </p-floatlabel>

    <app-field-error [message]="getFieldError('username')" />
  </div>

  <div class="field-group">
    <p-floatlabel>
      <input
        name="email"
        id="email"
        type="email"
        pInputText
        [(ngModel)]="form.email"
        (ngModelChange)="onFieldChange('email')"
      />
      <label for="email">
        {{ "auth.register.form.email" | translate }}
      </label>
    </p-floatlabel>

    <app-field-error [message]="getFieldError('email')" />
  </div>

  <div class="field-group">
    <p-floatlabel>
      <p-datepicker
        name="birthDate"
        id="birthDate"
        [(ngModel)]="form.birthDate"
        (ngModelChange)="onFieldChange('birthDate')"
        dateFormat="yy/mm/dd"
        [maxDate]="today"
      />
      <label for="birthDate">
        {{ "auth.register.form.birthDate" | translate }}
      </label>
    </p-floatlabel>

    <app-field-error [message]="getFieldError('birthDate')" />
  </div>

  @if (mode === "create") {
    <div class="field-group">
      <p-floatlabel>
        <p-password
          name="password"
          id="password"
          [(ngModel)]="form.password"
          (ngModelChange)="onFieldChange('password')"
          [feedback]="true"
          [toggleMask]="true"
        />
        <label for="password">
          {{ "auth.register.form.password" | translate }}
        </label>
      </p-floatlabel>

      <app-field-error [message]="getFieldError('password')" />
    </div>

    <div class="field-group">
      <p-floatlabel>
        <p-password
          name="repeatedPassword"
          id="repeatedPassword"
          [(ngModel)]="form.repeatedPassword"
          (ngModelChange)="onFieldChange('repeatedPassword')"
          [feedback]="false"
          [toggleMask]="true"
        />
        <label for="repeatedPassword">
          {{ "auth.register.form.repeatedPassword" | translate }}
        </label>
      </p-floatlabel>

      <app-field-error [message]="getFieldError('repeatedPassword')" />
    </div>
  }

  <div class="button-container">
    <p-button type="submit" [label]="'auth.register.form.submit' | translate" />
  </div>
</form>
