.create-item {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.loading-overlay {
  position: fixed;
  inset: 0;

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(2px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  z-index: 9999;
}

.loading-overlay span {
  font-weight: 500;
}

@media (max-width: 768px) {
  .create-item {
    padding: 1rem;
  }
}
