<p-select
  class="locale-select"
  [options]="locales"
  [ngModel]="locale()"
  optionValue="value"
  appendTo="body"
  [showClear]="false"
  (onChange)="onLocaleChange($event.value)"
>
  <ng-template #selectedItem let-selected>
    <span class="locale-selected">
      @if (mode === SelectorMode.MINIMAL) {
        <span class="locale-flag">
          {{ selected?.flag }}
        </span>
      }

      @if (mode === SelectorMode.FULL) {
        <span class="locale-flag">
          {{ selected?.flag }} {{ selected?.label }}
        </span>
      }
    </span>
  </ng-template>

  <ng-template #item let-locale>
    <span class="locale-option">
      <span>{{ locale.flag }}</span>
      <span>{{ locale.label }}</span>
    </span>
  </ng-template>
</p-select>
