.user-layout {
    display: grid;
    grid-template-columns: 18rem 1fr;
    gap: 2rem;

    max-width: 1800px;
    margin: 2rem auto;
    padding: 0 1.5rem;

    align-items: start;
}

.user-content {
    min-width: 0;
}