<p-toolbar>
    <ng-template #start>
        <div class="logo-container">
            <a routerLink="/" class="logo-link">
                <img src="assets/omni-logo-full.png" alt="OmniRent" class="logo logo-full" />

                <img src="assets/omni-logo.png" alt="OmniRent" class="logo logo-small" />
            </a>
        </div>
    </ng-template>

    <ng-template #center>
        <div class="search-container">
            <p-iconfield iconPosition="left">
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #end>

        @if (currentUser(); as user) {
        <p-splitbutton styleClass="user-menu" [label]="user.username" icon="pi pi-user" [model]="items" rounded />
        }
        @else {
        <p-button styleClass="login-button" label="Login" icon="pi pi-user" severity="info" routerLink="/auth/login"
            rounded />

        }
    </ng-template>
</p-toolbar>