<header class="navbar">
    <div class="navbar-logo">
        <a routerLink="/" class="logo-link">
            <img src="assets/omni-logo-full.png" alt="OmniRent" class="logo logo-full" />

            <img src="assets/omni-logo.png" alt="OmniRent" class="logo logo-small" />
        </a>
    </div>

    <div class="navbar-search">
        <div class="search-container">
            <p-iconfield iconPosition="left">
                <p-inputicon styleClass="pi pi-search" />

                <input type="text" pInputText placeholder="Search..." #searchInput
                    (keyup.enter)="onSearch(searchInput.value)" />
            </p-iconfield>

            <p-button icon="pi pi-search" severity="info" rounded (onClick)="onSearch(searchInput.value)" />
        </div>
    </div>

    <div class="navbar-actions">

        <p-select class="locale-select" [options]="locales" [ngModel]="locale()" optionValue="value" appendTo="body"
            [showClear]="false" (onChange)="setLocale($event.value)">

            <ng-template #selectedItem let-selected>
                <span class="locale-selected">
                    <span class="locale-flag">
                        {{ selected?.flag }}
                    </span>
                </span>
            </ng-template>

            <ng-template #item let-locale>
                <span class="locale-option">
                    <span>{{ locale.flag }}</span>
                    <span>{{ locale.label }}</span>
                </span>
            </ng-template>

        </p-select>

        <p-button styleClass="theme-button" icon="pi pi-moon" [rounded]="true" [text]="true"
            (onClick)="toggleTheme()" />

        @if (currentUser(); as user) {

        <p-splitbutton styleClass="user-menu" icon="pi pi-user" [label]="user.username" [model]="items" rounded />

        } @else {

        <p-button styleClass="login-button" icon="pi pi-user" [label]="'auth.login.title' | translate" severity="info" routerLink="/auth/login"
            rounded />

        }

    </div>
</header>