<p-dataview [value]="items" [layout]="layout" [rows]="size" [first]="page * size" [totalRecords]="totalElements"
    [paginator]="true" [lazy]="true" (onPage)="onPageChange($event)">

    <ng-template #header>

        <div class="flex justify-between items-center">

            <h2 class="text-xl font-semibold">
                My Listings
            </h2>

            <p-selectbutton
                [(ngModel)]="layout"
                [options]="options"
                optionValue="value">

                <ng-template #item let-item>

                    <i
                        class="pi"
                        [ngClass]="{
                            'pi-th-large': item.value === 'grid',
                            'pi-list': item.value === 'list'
                        }">
                    </i>

                </ng-template>

            </p-selectbutton>

        </div>

    </ng-template>


    <ng-template #grid let-items>

        <div class="items-grid">

            <app-item-management-card
                *ngFor="let item of items"
                [item]="item">
            </app-item-management-card>

        </div>

    </ng-template>


    <ng-template #list let-items>

        <div class="list-container">

            <app-item-management-list
                *ngFor="let item of items"
                [item]="item">
            </app-item-management-list>

        </div>

    </ng-template>

</p-dataview>