<footer class="footer">
    <div class="footer-content">

        <div class="footer-section">
            <h3>OmniRent</h3>
            <p>{{ 'footer.description' | translate }}</p>
        </div>

        <div class="footer-section">
            <h4>{{ 'footer.company.title' | translate }}</h4>

            <div class="footer-links">
                <a>{{ 'footer.company.about' | translate }}</a>
                <a>{{ 'footer.company.contact' | translate }}</a>
                <a>{{ 'footer.company.terms' | translate }}</a>
                <a>{{ 'footer.company.privacy' | translate }}</a>
            </div>
        </div>

        <div class="footer-section">
            <h4>{{ 'footer.social.title' | translate }}</h4>

            <div class="social-links">
                <a href="https://www.linkedin.com/in/pedro-henrique-duarte-guimar%C3%A3es-890984300/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="pi pi-linkedin"></i>
                </a>

                <a href="https://github.com/PedroH225" target="_blank" rel="noopener noreferrer">
                    <i class="pi pi-github"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="copyright">
        © 2026 OmniRent
    </div>
</footer>