<footer class="footer">
    <div class="footer-content">

        <div class="footer-section">
            <h3>OmniRent</h3>
            <p>Your marketplace for equipment rentals.</p>
        </div>

        <div class="footer-section">
            <h4>Company</h4>
            <div class="footer-links">
                <a>About us</a>
                <a>Contact</a>
                <a>Terms of Service</a>
                <a>Privacy Policy</a>
            </div>
        </div>

        <div class="footer-section">
            <h4>Follow us</h4>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/pedro-henrique-duarte-guimar%C3%A3es-890984300/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="pi pi-linkedin"></i>
                </a>
                <a href="https://github.com/PedroH225" target="_blank" rel="noopener noreferrer">
                    <i class="pi pi-github"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="copyright">
        © 2026 OmniRent
    </div>
</footer>