<div class="list-item">
  <img
    class="list-image"
    [src]="item.thumbnailKey || 'assets/placeholder-img.png'"
    [alt]="item.name"
  />

  <div class="list-content">
    <span class="category">
      {{ item.subCategoryName }}
    </span>

    <h3>
      {{ item.name }}
    </h3>

    <div class="details">
      <span>
        {{
          "enums.itemCondition." + item.itemCondition.toLowerCase() | translate
        }}
      </span>

      <span class="status" [class.available]="item.itemStatus === 'AVAILABLE'">
        {{ "enums.itemStatus." + item.itemStatus.toLowerCase() | translate }}
      </span>
    </div>
  </div>

  <div class="list-actions">
    <span class="price">
      R$ {{ item.basePrice }}/{{ "item.day" | translate }}
    </span>

    <p-button
      [label]="'common.detail' | translate"
      icon="pi pi-eye"
      [text]="true"
      [routerLink]="['/items', item.id]"
    />
  </div>
</div>
