<div class="list-item">

    <img class="list-image" [src]="item.thumbnailKey || 'assets/placeholder-img.png'" [alt]="item.name">

    <div class="list-content">

        <span class="category">
            {{ item.subCategoryName }}
        </span>

        <h3>
            {{ item.name }}
        </h3>

        <div class="details">

            <span>
                {{ item.itemConditionLabel }}
            </span>

            <span class="status" [class.available]="item.itemStatus === 'AVAILABLE'">

                {{ item.itemStatusLabel }}

            </span>

        </div>

    </div>

    <div class="list-actions">

        <span class="price">
            ${{ item.basePrice }}/day
        </span>

        <p-button label="Details" icon="pi pi-eye" [text]="true" [routerLink]="['/items', item.id]">
        </p-button>

    </div>

</div>