<app-catalog-bar></app-catalog-bar>
<div class="hero-gallery">
    <p-galleria
        [value]="images"
        [showThumbnails]="false"
        [showIndicators]="true"
        [showIndicatorsOnItem]="true"
        [circular]="true"
        [autoPlay]="true">

        <ng-template #item let-item>
            <img [src]="item.itemImageSrc" class="hero-image" />
        </ng-template>

    </p-galleria>
</div>

<section>
    <h2>Audiovisual</h2>

    <div class="items-row">
        <app-item-card
            *ngFor="let item of audiovisualCards"
            [item]="item">
        </app-item-card>
    </div>
</section>

<section>
    <h2>Construction</h2>

    <div class="items-row">
        <app-item-card
            *ngFor="let item of constructionCards"
            [item]="item">
        </app-item-card>
    </div>
</section>

<section>
    <h2>Events</h2>

    <div class="items-row">
        <app-item-card
            *ngFor="let item of eventsCards"
            [item]="item">
        </app-item-card>
    </div>
</section>