<app-catalog-bar></app-catalog-bar>

<div class="hero-gallery">
    <p-galleria [value]="images" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true"
        [circular]="true" [autoPlay]="true">

        <ng-template #item let-item>
            <img [src]="item.itemImageSrc" class="hero-image" />
        </ng-template>

    </p-galleria>
</div>


<section class="category-section">

    <div class="section-header">
        <h2>Audiovisual</h2>
        <a>View all</a>
    </div>

    <p-carousel [value]="audiovisualCards" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions">

        <ng-template #item let-item>
            <div class="card-wrapper">
                <app-item-card [item]="item">
                </app-item-card>
            </div>
        </ng-template>

    </p-carousel>

</section>


<section class="category-section">

    <div class="section-header">
        <h2>Construction</h2>
        <a>View all</a>
    </div>

    <p-carousel [value]="constructionCards" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions">

        <ng-template #item let-item>
            <div class="card-wrapper">
                <app-item-card [item]="item">
                </app-item-card>
            </div>
        </ng-template>

    </p-carousel>

</section>


<section class="category-section">

    <div class="section-header">
        <h2>Events</h2>
        <a>View all</a>
    </div>

    <p-carousel [value]="eventsCards" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions">

        <ng-template #item let-item>
            <div class="card-wrapper">
                <app-item-card [item]="item">
                </app-item-card>
            </div>
        </ng-template>

    </p-carousel>

</section>