<section class="how-it-works">

    <div class="section-header how-header">
        <div>
            <h2>{{ 'home.howItWorks.title' | translate }}</h2>

            <p>{{ 'home.howItWorks.description' | translate }}</p>
        </div>
    </div>

    <div class="timeline-container">
        <p-timeline [value]="events" [layout]="isMobile ? 'vertical' : 'horizontal'"
            [align]="isMobile ? 'left' : 'top'">

            <ng-template #marker let-event>
                <span class="timeline-marker">
                    <i [class]="event.icon"></i>
                </span>
            </ng-template>

            <ng-template #content let-event>
                <div class="timeline-content">
                    <h3>{{ event.title | translate }}</h3>
                    <p>{{ event.description | translate }}</p>
                </div>
            </ng-template>

        </p-timeline>
    </div>

</section>