<p-toolbar>

    <ng-template #center>
        <p-select [options]="categories" [(ngModel)]="selectedCategory" optionLabel="label" optionValue="value"
            (onChange)="onCategoryChange()" placeholder="Category" />

        <p-select [options]="subCategories" [(ngModel)]="selectedSubCategory" optionLabel="label" optionValue="value"
            [disabled]="!selectedCategory" placeholder="Subcategory"/>

        <p-select [options]="itemConditions" [(ngModel)]="selectedCondition" optionLabel="label" optionValue="value" placeholder="Condition"/>

        <p-select [options]="sorts" [(ngModel)]="selectedSort" optionLabel="label" optionValue="value"
            placeholder="Sort by" />
    </ng-template>
</p-toolbar>