<section class="catalog-bar">
  <div class="catalog-filters">
    <p-select
      [options]="categories"
      [(ngModel)]="selectedCategory"
      optionLabel="label"
      optionValue="value"
      [placeholder]="'catalog.category' | translate"
      (onChange)="onCategoryChange()"
      appendTo="body"
    />

    <p-select
      [options]="subCategories"
      [(ngModel)]="selectedSubCategory"
      optionLabel="label"
      optionValue="value"
      [placeholder]="'catalog.subcategory' | translate"
      [disabled]="!selectedCategory"
      (onChange)="onSubCategoryChange()"
      appendTo="body"
    />

    <p-select
      [options]="itemConditions"
      [(ngModel)]="selectedCondition"
      optionLabel="label"
      optionValue="value"
      [placeholder]="'catalog.condition' | translate"
      (onChange)="onConditionChange()"
      appendTo="body"
    />

    <p-select
      [options]="sorts"
      [(ngModel)]="selectedSort"
      optionLabel="label"
      optionValue="value"
      [placeholder]="'catalog.sortBy' | translate"
      (onChange)="onSortChange()"
      appendTo="body"
    />

    <p-button
      [label]="'catalog.clear' | translate"
      icon="pi pi-filter-slash"
      severity="secondary"
      rounded
      (onClick)="clearFilters()"
    />
  </div>
</section>
