<div class="login-container">
    <p-card>
        <form (ngSubmit)="login()">
            <div class="login-card">
                <h2 class="login-title">Login</h2>
                <p-floatlabel>
                    <input name="email" id="email" type="text" pInputText [(ngModel)]="email" />
                    <label for="email">Email</label>
                </p-floatlabel>

                <p-floatlabel>
                    <p-password name="pasword" id="password" [feedback]="false" [(ngModel)]="password"
                        [toggleMask]="true">
                    </p-password>
                    <label for="password">Password</label>
                </p-floatlabel>

                <div class="button-container">
                    <p-button type="submit" label="Submit" />
                </div>
                @if (errorMessage) {
                <p-message severity="error" [text]="errorMessage"></p-message>
                }
            </div>
        </form>

    </p-card>
</div>