.login-container {
  font-family: var(--p-font-family);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#email,
#password {
  width: 100%;
}

:host ::ng-deep .p-password {
  width: 100%;
}

:host ::ng-deep .p-password-input {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-title {
  text-align: center;
  margin: 0;
}