<div class="return-status-info">
  <i class="pi pi-box"></i>

  <div>
    <strong>
      {{ "rental.actions.request_return.status.title" | translate }}
    </strong>

    @if (isOwner) {
      <span>
        {{ "rental.actions.request_return.status.owner" | translate }}
      </span>
    } @else {
      <span>
        {{ "rental.actions.request_return.status.renter" | translate }}
      </span>
    }
  </div>
</div>

<div class="return-action">
  @if (!isOwner) {
    <p-button
      [label]="'rental.actions.request_return.button' | translate"
      icon="pi pi-undo"
      severity="secondary"
      [outlined]="true"
      (onClick)="requestReturn()"
    />
  } @else {
    <div class="return-status">
      <i class="pi pi-info-circle"></i>

      <span>
        {{ "rental.actions.request_return.status.ownerWaiting" | translate }}
      </span>
    </div>
  }
</div>
